/*! ******* VARIABLES ****** */

:root{
    --color-primario:#13a8fe;
    --color-primario-oscuro:#0371b0;
    --color-secundario: #ff00ff;
    --color-terciario: #ffa300;
    --color-adicional: #cf0060;
    --color-fondo: #000045;
    --color-blanco: #fff;
    --color-negro: #000;
    --color-gris-oscuro: #414141;            
}

@font-face {
    font-family: 'MuseoModerno';
    src: url(fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Codystar';
    src: url(fonts/Codystar/Codystar-Regular.ttf);
}
@font-face {
    font-family: 'cube';
    src: url(fonts/cube/Cube.ttf);
}
@font-face {
    font-family: 'neon';
    src: url(fonts/neon/Neon.ttf);
}
@font-face {
    font-family: 'rampart';
    src: url(fonts/Rampart_One/RampartOne-Regular.ttf);
}

/* ******* GENERALES ****** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', sans-serif;
    background: ;
}

body{
    background: var(--color-fondo);
}

a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: ;
    font-family: 'rampart';
}

.btn{
    background: var(--color-adicional);
    color: var(--color-blanco);
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 5px;
    transition: all .5s;
    font-family: 'MuseoModerno';
}

.btn:hover{
    transform: scale(1.1);
    background: var(--color-secundario);
    box-shadow: 0 0 20px 2px var(--color-secundario);
    border-radius: 5px;
    font-size: 20px;
}

h1.title{
    text-align: center;
    font-weight: 100;
    font-size: 55px;
    letter-spacing: 2px;
    margin: 30px 0;
    color: var(--color-blanco);
}

/* ******* MENÚ PRINCIPAL ****** */

.menu_principal{
    width: 100%;
    height: 50px;
    background: var(--color-blanco);
    border-bottom: 2px solid var(--color-primario);
}

.menu_principal div{
    float: left;
    height: 0;
    margin-left: 100px;
}

.nav_img{
    height: 100%;
}

.nav_img img{
    width: 4%;
    position: relative;
    top: 50%;
    left: -2%;
    transform: translate(-50%, -50%);
    margin: 22.5px 5px;

}

.nav_enlaces a{
    line-height: 50px;
    margin: 0 15px;
    color: var(--color-primario);
    padding: 4px 10px;
    border: 2px solid transparent;
    transition: all .5s;
}

.nav_enlaces a.active{
    color: var(--color-primario-oscuro);
}

.nav_enlaces a:hover{
    border: 2px solid var(--color-primario);
    box-shadow: 0 0 20px 2px var(--color-primario);
    border-radius: 35%;
}


/* ******* HEADER ****** */

header{
    width: 100%;
    height: calc(100vh - 50px);
    position: relative;
    background: url(img/wallpaper2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

header div{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

header h1{
    color: var(--color-blanco);
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 100;
    margin: 20px 0;
    text-shadow: 5px 0 10px var(--color-fondo);
}

header button{
    width: 180px;
    height: 50px;
}


/*? ******* PRODUCTOS ****** */

.productos{
    padding: 30px 100px;
}

.card{
    position: relative;
    width: 33%;
    height: 420px;
    background: var(--color-primario-oscuro);
    overflow: hidden;
    float: left;
    border: none;
    margin: 1px;
}

.card::before{
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: var(--color-primario);
    transform: skewY(345deg);
    transition: all .5s;
}

.card:hover::before{
    top: -70%;
    transform: skewY(390deg);
}

.card::after{
    content: 'TecnoDesign';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 3.5em;
    color: rgba(0, 0, 0, 0.1);
}

.card .img_card{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.card .img_card img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70%;
    transition: all .5s;
}

.card:hover .img_card img{
    max-width: 60%;
}

.content_card{
    width: 100%;
    position: absolute;
    bottom: 12%;
    text-align: center;
    z-index: 1;
}

.content_card h3{
    font-size: 3vh;
    color: var(--color-blanco);
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'rampart';
}

.content_card .price{
    font-size: 30px;
    color: var(--color-blanco);
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content_card .buy{
    position: relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
}

.card:hover .content_card .buy{
    top: 20px;
    opacity: 1;
}

/*? ******* PRODUCTOS ****** */

.mensaje{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 400px;
    background: url(img/section.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin-top: 50px;
}

.mensaje::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.mensaje p{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-blanco);
    font-size: 65px;
    font-weight: 100;
    text-shadow: 5px 0 10px var(--color-fondo);

}